<div class="profile">
  <h1><%= current_user.firstname %> <%= current_user.lastname %> profile</h1>
  <p>Calories: <%= current_user.firstname %></p>
  
  <%= link_to 'Edit profile', edit_user_path(current_user) %>
</div>